.home-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: white;
  text-align: center;
  padding: 2rem;
}

.home-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: white;
  color: #2575fc;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #e0e0e0;
}
